.addresses, .contacts, .documents, .languages, .dependents{
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.addresses .close, .contacts .close, .documents .close, .languages .close, .dependents .close{
    font-size: 35px;
    top: -19px;
    position: relative;
}

#registration_professional_data, #registration_user_data{
    border: 1px solid #CCC;
    padding: 20px;
    margin-top: 40px;
}

.form-container{
    margin-bottom: 90px;
}

.modal-large {
    width: 95% !important;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

table, th, td {
   border: 1px solid #CCC;
   padding: 5px;
}

tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}